 /* Container for the form */
 body {
    margin: 0;
    color: #333;
    font-family: Arial, sans-serif;
     
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: flex-start;
 box-sizing: border-box;
     
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
     
   
        
    overflow-x: hidden;
    border-radius: 8px;
    
        
      
  }
  .regDateLabel{
    color: #756d6d;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: -8px;
    margin-top: 2px;
     
    
    /* background-color: red; */
     
  }

  #date{
    color: rgba(0, 0, 0, 0.527); 
  }


.container {
width: 100vw;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    /* background-color: #3b8ada; */
    min-height: 100vh;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Form heading */
  .heading {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
    /* max-width: 500px; */
  }
  
  /* Form element */
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
     width: 100%;
    /* background-color: red; */
  }
  
  /* Input fields */
  .input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: aliceblue;
    font-size: 16px;
    color: black;
  }
  
  
  /* Input focus state */
  .input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Submit button */
  .button {
    padding: 10px;
    background-color: #154a83;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Button hover state */
  .button:hover {
    background-color: #0056b3;
  }

  select.input {
    appearance: none; /* Remove arrow */
    background-color: aliceblue;
    color: rgba(0, 0, 0, 0.527);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    cursor: pointer;
  }
  select.input:hover,
select.input:focus {
  border-color: #007bff;
  outline: none;
  color: black;
}
  